.ico { background-image: url(~sprite.png); background-size:1522px 1123px;}
.ico-i1 { width: 450px; height: 451px; background-position: 0px -672px; }
.ico-i2 { width: 516px; height: 470px; background-position: -544px 0px; }
.ico-i3 { width: 544px; height: 672px; background-position: 0px 0px; }
.ico-i4 { width: 462px; height: 471px; background-position: -1060px 0px; }